<div class="header-mobile clearfix" id="header-mobile">
    <div class="header-mobile__logo">
        <a href="<%= erp_thaikimsa.root_path %>" title="">
            <img src="/thaikimsa/assets/images/logo.png"
                 srcset="/thaikimsa/assets/images/logo@2x.png"
                 alt="" title="" class="header-mobile__logo-img">
        </a>
    </div>
    <div class="header-mobile__inner">
        <a id="header-mobile__toggle" class="burger-menu-icon">
            <span class="burger-menu-icon__line"></span>
        </a>
    </div>
</div>