<div class="header-mobile clearfix" id="header-mobile">
    <div class="header-mobile__inner">
        <%= image_tag "/thaikimsa/assets/images/main-banner.png", alt: "", class: "banner-top-01" %>
        <a id="header-mobile__toggle" class="burger-menu-icon">
            <span class="burger-menu-icon__line"></span>
        </a>
    </div>
</div>