<div class="slick posts posts-slider posts--slider-top-news">
    <div class="slick__slide">
        <div class="posts__item posts__item-has-img posts__item--category-1">
            <figure class="posts__thumb">
                <img src="/thaikimsa/assets/images/slider.png" alt="">
            </figure>
        </div>
    </div>
    <div class="slick__slide">
        <div class="posts__item posts__item-has-img posts__item--category-1">
            <figure class="posts__thumb">
                <img src="/thaikimsa/assets/images/slider-01.jpg" alt="">
            </figure>
        </div>
    </div>
    <div class="slick__slide">
        <div class="posts__item posts__item-has-img posts__item--category-1">
            <figure class="posts__thumb">
                <img src="/thaikimsa/assets/images/slider-02.png" alt="">
            </figure>
        </div>
    </div>
</div>