<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1 class="page-heading__title">Giới Thiệu</h1>
                <ol class="page-heading__breadcrumb breadcrumb">
                    <li class="breadcrumb-item">
                        <%= link_to 'Trang Chủ', erp_thaikimsa.root_path, title: '' %>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Giới Thiệu</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Page Heading / End -->
<!-- Content
		================================================== -->
<div class="site-content">
    <div class="container">
        <div class="row">
            <!-- Content -->
            <div class="content col-md-12">
                <!-- Article -->
                <article class="card card--block post post--single posts__item--category-3 article-detail">
                    <figure class="post__thumbnail">
                        <img src="/thaikimsa/assets/images/detail-banner.png" alt="">
                    </figure>
                    <!-- Post Meta - Side / End -->
                    <div class="card__content">
                        <h2>GIỚI THIỆU WEBSITE</h2>
                        <div class="post__content text-justify">                            
                            <p>
                              CÔNG TY TNHH KT PHONG THỦY TAM NGUYÊN được thành lập dựa trên nền tảng những người có kiến thức, có lòng say mê nghiên cứu về lĩnh vực Văn Hóa Phương Đông (Phong thủy, Tử vi, Kinh dịch...). Với 5 thành viên ban đầu là nhưng người ham thích, nghiên cứu về Văn Hóa Phương Đông như Phong thủy, Tử vi. Bước đầu PHONG THỦY TAM NGUYÊN đã tổ chức những buổi gặp gỡ, chuyện trò, trao đổi kinh nghiệm trong học tập và nghiên cứu, sau này do nhu cầu nghiên cứu học tập của các thành viên, ĐẠI HƯNG đã mở rộng giao lưu và tổ chức các lớp học về Phong Thủy, Tử Vi và giảng viên là những thành viên sáng lập đam mê và có kinh nghiệm trong nghiên cứu, có thành tựu ứng dụng học thuật nhất định trong thực tế. Lớp học mở ra chủ yếu là chia sẻ những kiến thức cho các thành viên trong PHONG THỦY TAM NGUYÊN. Sau này, do sự tín nhiệm và giới thiệu của các thành viên, lớp học mở rộng giao lưu và tiếp nhận các học viên mới cũng là những người yêu thích và đam mê nghiên cứu về Văn Hóa Phương Đông đặc biệt là các môn Phong Thủy, Tử Vi, Kinh Dịch, Bát tự, Huyền Không…. Trải qua 5 năm qua hoạt động chúng tôi ngày càng thu hút được sự quan tâm của các học viên mới tham gia, số lượng hội viên ngày càng tăng, đến nay chính thức đã có trên 150 hội viên. Hiện tại PHONG THỦY TAM NGUYÊN đã chính thức trở thành thành viên của Hiệp Hội Hội Chu Dịch Phong Thủy Thế Giới và đã có phân hội chính thức tại Việt Nam.

- Năm 2008, chúng tôi nhận lời mời tham gia làm cố vấn cao cấp cho Đại Hội Phong Thủy Dịch Học Thế Giới tại Văn phòng Thị Trưởng thành phố Bắc Kinh. Tại đây đã được tham vấn, gặp gỡ và giao lưu với các thầy trong Hiệp Hội Chu Dịch Phong Thủy Thế Giới ở trên 50 quốc gia. Điều đáng tự hào nhất là lần đầu tiên các hội viên có vinh dự cùng đội ngũ các chuyên gia hàng đầu về Phong Thủy Dịch Học trên thế giới tham gia tư vấn Phong Thủy cho một số công trình lớn như: Viện Bảo Tàng Thập Tam Lăng, trường Đại Học Thanh Hoa một trong những trường ĐH hàng đầu Trung Quốc, công trình sân vận động Tổ Chim tại Olypic Bắc Kinh 2008.

- Năm 2009, nhận lời mời cửa Chính phủ Ma Cao, đại diện là chủ tịch thành phố Ma Cao chúng tôi cũng đã có mặt trong ban cố vấn cao cấp cùng tham gia sắp đặt phong thủy và tư vấn cho sòng bài Ma Cao và một số công trình khác...

- Để PHONG THỦY TAM NGUYÊN phát triển mang tầm quốc tế, ban lãnh đạo luôn định hướng mở rộng quan hệ và giao lưu với các chuyên gia Phong Thủy hàng đầu trên thế giới, nhằm tạo cơ hội cho các thành viên có cơ hội gặp gỡ, giao lưu, nghiên cứu, học hỏi.

- Năm 2010 đánh dấu sự trưởng thành của CLB, ngày 01 tháng 01 Năm 2010 là bước son cho sự phát triển, Đại Hưng cùng Ngọc Phúc Đường vinh dự được Hiệp Hội Phong Thủy Dịch Học Thế Giới chọn là đơn vị nước chủ nhà tổ chức Hội Thảo thường niên của Hiệp Hội Phong Thủy Dịch Học Thế Giới lần thứ 7 tại Hà Nội – Việt Nam. Đây cũng là lần đầu tiên Việt Nam tổ chức Đại Hội Phong Thủy Dịch Học với trên 10 quốc gia tham dự như Trung Quốc, Hàn Quốc, Malaysiay, Australia, Nhật Bản...

- Kết hợp giữa lý thuyết trên lớp và thực tế sinh động ngoài cuộc sống, tạo môi trường cho các hội viên tham gia nghiên cứu và học hỏi trên lớp chúng tôi cũng thường xuyên tổ chức các đợt sinh hoạt ngoại khóa đi khảo sát thực địa tại một số vùng khí huyệt, khu lăng mộ, đền, chùa điển hình như: Đền Ngọc Sơn, Hoàng Thành Thăng Long, Chùa Kim Liên, Chùa Tảo Sách, Đình Hòe Nhai, Chùa Láng, Cổng Làng Cót, Đền Hàm Rồng, Đền Bà Ỷ Lan, Khu Mộ Tầu, Mẫu Đồng Đăng, Nhà tưởng niệm Tổng bí thư Nguyễn Văn Linh, chùa Bổ Đà... Ngoài ra cũng đến thăm một số khu, công trình tai Trung Quốc như: Phật Sơn Tổ Mi, Sòng Bạc Ma Cao, …

- Học đi đôi với hành, lấy cơ sở từ các bài học và nghiên cứu trên lớp ứng dụng tác động vào trong thực tế tại chính các công trình nhà cửa của hội viên đã tạo ra sự chuyển biến mạnh mẽ và có hiệu quả tích cực trong cuộc sống.

- Bên cạnh công tác học tập nghiên cứu chúng tôi cũng thường xuyên tổ chức các đợt quyên góp ủng hộ từ thiện cho các tổ chức từ thiện,ủng hộ đồng bào lũ lụt các tỉnh Miền Trung…, đóng góp công đức xây đựng Chùa Vân Gia – Sơn Tây – Hà Nội, công đức đỉnh đá, đèn đồng cho Chùa Phú Đô – Mỹ Đình – HN, đóng góp công đức tô son thiếp vàng 8 pho tượng trong Nhị Thập Bát Tú thể hiện nghĩa cử của hậu duệ đối với các bậc tiền bối tại Chùa Đậu – Thường Tín – Hà Tây – Hà Nội ….

Xin chân thành cảm ơn những hội viên, những khách hàng thân thiết, chính các cô bác, anh chị là nguồn động lực quan trọng nhất giúp chúng tôi luôn cố gắng làm tốt công việc của mình để truyền đạt và giúp cho nhiều người hiểu đúng về những tinh hoa văn hóa cổ của cha ông và của nhân loại, góp gạt bỏ những mê tín dị đoan do sự thiếu hiểu biết bày đặt nên.
                            </p>
                        </div>
                    </div>
                </article>
                <!-- Article / End -->
            </div>
            <!-- Content / End -->            
        </div>
    </div>
</div>