<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1 class="page-heading__title">Liên Hệ</h1>
                <ol class="page-heading__breadcrumb breadcrumb">
                    <li class="breadcrumb-item">
                        <%= link_to 'Trang Chủ', erp_thaikimsa.root_path, title: '' %>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Liên Hệ</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Page Heading / End -->
<!-- Content
		================================================== -->
<div class="site-content">
    <div class="container">
        <!-- Contact Area -->
        <div class="card contact-us">
            <header class="card__header">
                <h4>Gửi Liên Hệ</h4>
            </header>
            <div class="card__content">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Thông Tin Liên Hệ</h5>
                        <address><strong>Thầy Thái Kim Sa</strong></address>
                        <address><strong>Số điện thoại: </strong>0933 808 368</address>
                        <address><strong>Email: </strong>thaikimsa@gmail.com</address>
                        <address><strong>Địa chỉ: </strong>Chung cư Minh Thành 259 Lê Văn Lương, Tân Quy, Quận 7, Hồ Chí Minh</address>
                    </div>
                    <div class="col-md-8">
                        <!-- Contact Form -->
                        <form action="#" class="contact-form">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group"><label for="contact-form-name">Họ & Tên <span class="required">*</span></label> <input type="text" name="contact-form-name" id="contact-form-name" class="form-control" placeholder="Nhập họ và tên của bạn tại đây..."></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group"><label for="contact-form-email">Địa Chỉ Email <span class="required">*</span></label> <input type="email" name="contact-form-email" id="contact-form-email" class="form-control" placeholder="Nhập địa chỉ email của bạn tại đây..."></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group"><label for="contact-form-subject">Tiêu Đề </label><input type="text" name="contact-form-subject" id="contact-form-subject" class="form-control" placeholder="Nhập tiêu đề tại đây..."></div>
                                </div>
                            </div>
                            <div class="form-group"><label for="contact-form-message">Nội Dung Lời Nhắn <span class="required">*</span></label> <textarea name="name" rows="5" class="form-control" placeholder="Nhập nội dung cần gửi tại đây..."></textarea></div>
                            <div class="form-group form-group--submit">
                                <button type="submit" class="btn btn-primary-inverse btn-lg btn-block">
                                    GỬI LỜI NHẮN
                                </button>
                            </div>
                        </form>
                        <!-- Contact Form / End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Area / End -->
    </div>
</div>