<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1 class="page-heading__title">Hỗ Trợ</h1>
                <ol class="page-heading__breadcrumb breadcrumb">
                    <li class="breadcrumb-item">
                        <%= link_to 'Trang Chủ', erp_thaikimsa.root_path, title: '' %>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Hỗ Trợ</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Page Heading / End -->
<!-- Content
		================================================== -->
<div class="site-content">
    <div class="container">
        <div class="row">
            <!-- Content -->
            <div class="content col-md-12">
                <!-- Article -->
                <article class="card card--block post post--single posts__item--category-3 article-detail">
                    <figure class="post__thumbnail">
                        <img src="/thaikimsa/assets/images/detail-banner.png" alt="">
                    </figure>
                    <!-- Post Meta - Side / End -->
                    <div class="card__content">
                        <h2>Hướng Dẫn Thanh Toán</h2>
                        <div class="post__content text-justify">                            
                            <p>
                                CÔNG TY TNHH KT PHONG THỦY TAM NGUYÊN được thành lập dựa trên nền tảng những người có kiến thức, có lòng say mê nghiên cứu về lĩnh vực Văn Hóa Phương Đông (Phong thủy, Tử vi, Kinh dịch...). Với 5 thành viên ban đầu là nhưng người ham thích, nghiên cứu về Văn Hóa Phương Đông như Phong thủy, Tử vi. Bước đầu PHONG THỦY TAM NGUYÊN đã tổ chức những buổi gặp gỡ, chuyện trò, trao đổi kinh nghiệm trong học tập và nghiên cứu, sau này do nhu cầu nghiên cứu học tập của các thành viên, ĐẠI HƯNG đã mở rộng giao lưu và tổ chức các lớp học về Phong Thủy, Tử Vi và giảng viên là những thành viên sáng lập đam mê và có kinh nghiệm trong nghiên cứu, có thành tựu ứng dụng học thuật nhất định trong thực tế. Lớp học mở ra chủ yếu là chia sẻ những kiến thức cho các thành viên trong PHONG THỦY TAM NGUYÊN. Sau này, do sự tín nhiệm và giới thiệu của các thành viên, lớp học mở rộng giao lưu và tiếp nhận các học viên mới cũng là những người yêu thích và đam mê nghiên cứu về Văn Hóa Phương Đông đặc biệt là các môn Phong Thủy, Tử Vi, Kinh Dịch, Bát tự, Huyền Không…. Trải qua 5 năm qua hoạt động chúng tôi ngày càng thu hút được sự quan tâm của các học viên mới tham gia, số lượng hội viên ngày càng tăng, đến nay chính thức đã có trên 150 hội viên. Hiện tại PHONG THỦY TAM NGUYÊN đã chính thức trở thành thành viên của Hiệp Hội Hội Chu Dịch Phong Thủy Thế Giới và đã có phân hội chính thức tại Việt Nam.
                                - Năm 2008, chúng tôi nhận lời mời tham gia làm cố vấn cao cấp cho Đại Hội Phong Thủy Dịch Học Thế Giới tại Văn phòng Thị Trưởng thành phố Bắc Kinh. Tại đây đã được tham vấn, gặp gỡ và giao lưu với các thầy trong Hiệp Hội Chu Dịch Phong Thủy Thế Giới ở trên 50 quốc gia. Điều đáng tự hào nhất là lần đầu tiên các hội viên có vinh dự cùng đội ngũ các chuyên gia hàng đầu về Phong Thủy Dịch Học trên thế giới tham gia tư vấn Phong Thủy cho một số công trình lớn như: Viện Bảo Tàng Thập Tam Lăng, trường Đại Học Thanh Hoa một trong những trường ĐH hàng đầu Trung Quốc, công trình sân vận động Tổ Chim tại Olypic Bắc Kinh 2008.                            
                                - Năm 2009, nhận lời mời cửa Chính phủ Ma Cao, đại diện là chủ tịch thành phố Ma Cao chúng tôi cũng đã có mặt trong ban cố vấn cao cấp cùng tham gia sắp đặt phong thủy và tư vấn cho sòng bài Ma Cao và một số công trình khác...
                            </p>
                        </div>
                    </div>
                </article>
                <!-- Article / End -->
            </div>
            <!-- Content / End -->            
        </div>
    </div>
</div>