<!-- Featured Posts Slider ================================================== -->
<div class="slick posts posts-slider posts--slider-top-news">
    <div class="slick__slide">
        <div class="posts__item posts__item-has-img posts__item--category-1">
            <figure class="posts__thumb">
                <img src="/thaikimsa/assets/images/slider.png" alt="">
            </figure>
        </div>
    </div>
    <div class="slick__slide">
        <div class="posts__item posts__item-has-img posts__item--category-1">
            <figure class="posts__thumb">
                <img src="/thaikimsa/assets/images/slider-01.jpg" alt="">
            </figure>
        </div>
    </div>
    <div class="slick__slide">
        <div class="posts__item posts__item-has-img posts__item--category-1">
            <figure class="posts__thumb">
                <img src="/thaikimsa/assets/images/slider-02.png" alt="">
            </figure>
        </div>
    </div>
</div>
<!-- Breaking News -->
<div class="marquee-wrapper">
    <div class="container">
        <div class="marquee-label">Bài Viết Mới Nhất</div>
        <div class="marquee" data-startvisible="true" data-duration="18000" data-gap="10" data-duplicated="true">
            <ul class="posts posts--inline">
                <% (0..2).each do |blog| %>
                    <li class="posts__item">
                        <h6 class="posts__title">
                            <a href="">Tử Vi Và Phong Thủy Năm Nhâm Thìn 2012</a>
                        </h6>
                        <div class="posts__excerpt">Năm Tân Mão trong lịch Hạ (nông lịch) là năm tượng trưng hai hành...</div>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
<!-- Breaking News / End -->        
<div class="site-content">
    <div class="container">
        <div class="card main-about-us">
            <div class="card__header">
                <h4>Giới Thiệu</h4>
            </div>
            <div class="card__content text-justify">
                <p>Áp dụng phương pháp giảng dạy tân tiến, tân kỳ, cấp tốc chuyên nghiệp và dễ hiểu để thích hợp cho mọi tầng lớp, hầu tất cả mọi người đều có thể áp dụng khoa phong thủy Cổ Điển một cách nhanh chóng và dễ dàng. Đồng thời hiểu biết khoa học này còn có thể giúp chúng ta giảm thiểu những tai họa hoặc bất hạnh khi gặp vận không may, hoặc phát huy tối đa sự thịnh vượng nếu biết mình đang trong thời vận tốt.</p>
            </div>
        </div>
        <!-- Featured News -->
        <div class="card card--clean mb-0">
            <header class="card__header card__header--has-btn">
                <h4>DỊCH VỤ TỬ VI</h4>
            </header>
            <div class="card__content">
                <!-- Slider -->
                <div class="slick posts posts-slider posts--slider-var-width">
                    <div class="slick__slide">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="posts__item posts__item--desc-left posts__item--category-1">
                                    <a href="" class="posts__link-wrapper">
                                        <figure class="posts__thumb">
                                            <img src="/thaikimsa/assets/images/blog-large-01.jpg" alt="">
                                        </figure>
                                        <div class="posts__inner">
                                            <div class="posts__cat">
                                                <span class="label posts__cat-label">Xem Tử Vi</span>
                                            </div>
                                            <h3 class="posts__title blog-title">Dự Đoán Ngày Mới 06-06-2018 Cho 12 Con Giáp</h3>
                                            <div class="post-author">
                                                <div class="post-author__info">
                                                    <time datetime="06-06-2018" class="posts__date blog-date">06-06-2018</time>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="posts__item posts__item--desc-left posts__item--category-3">
                                    <a href="" class="posts__link-wrapper">
                                        <figure class="posts__thumb">
                                            <img src="/thaikimsa/assets/images/blog-01.jpg" alt="">
                                        </figure>
                                        <div class="posts__inner">
                                            <div class="posts__cat">
                                                <span class="label posts__cat-label">Xem Tử Vi</span>
                                            </div>
                                            <h3 class="posts__title blog-title">Dự Đoán Ngày Mới 06-06-2018 Cho 12 Con Giáp</h3>
                                            <div class="post-author">
                                                <div class="post-author__info">
                                                    <time datetime="06-06-2018" class="posts__date blog-date">06-06-2018</time>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="posts__item posts__item--desc-left posts__item--category-3">
                                    <a href="" class="posts__link-wrapper">
                                        <figure class="posts__thumb">
                                            <img src="/thaikimsa/assets/images/blog-02.jpg" alt="">
                                        </figure>
                                        <div class="posts__inner">
                                            <div class="posts__cat">
                                                <span class="label posts__cat-label">Xem Tử Vi</span>
                                            </div>
                                            <h3 class="posts__title blog-title">Dự Đoán Ngày Mới 06-06-2018 Cho 12 Con Giáp</h3>
                                            <div class="post-author">
                                                <div class="post-author__info">
                                                    <time datetime="06-06-2018" class="posts__date blog-date">06-06-2018</time>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider / End -->
            </div>
        </div>
        <div class="card card--clean mb-0">
            <header class="card__header card__header--has-btn">
                <h4>DỊCH VỤ PHONG THỦY</h4>
            </header>
            <div class="card__content">
                <!-- Slider -->
                <div class="slick posts posts-slider posts--slider-var-width">
                    <div class="slick__slide">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="posts__item posts__item--desc-left posts__item--category-1">
                                    <a href="" class="posts__link-wrapper">
                                        <figure class="posts__thumb">
                                            <img src="/thaikimsa/assets/images/blog-large.jpg" alt="">
                                        </figure>
                                        <div class="posts__inner">
                                            <div class="posts__cat">
                                                <span class="label posts__cat-label">Xem Tử Vi</span>
                                            </div>
                                            <h3 class="posts__title blog-title">Dự Đoán Ngày Mới 06-06-2018 Cho 12 Con Giáp</h3>
                                            <div class="post-author">
                                                <div class="post-author__info">
                                                    <time datetime="06-06-2018" class="posts__date blog-date">06-06-2018</time>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>                            
                            <div class="col-sm-6 col-md-4">
                                <div class="posts__item posts__item--desc-left posts__item--category-3">
                                    <a href="" class="posts__link-wrapper">
                                        <figure class="posts__thumb">
                                            <img src="/thaikimsa/assets/images/blog.png" alt="">
                                        </figure>
                                        <div class="posts__inner">
                                            <div class="posts__cat">
                                                <span class="label posts__cat-label">Xem Tử Vi</span>
                                            </div>
                                            <h3 class="posts__title blog-title">Dự Đoán Ngày Mới 06-06-2018 Cho 12 Con Giáp</h3>
                                            <div class="post-author">
                                                <div class="post-author__info">
                                                    <time datetime="06-06-2018" class="posts__date blog-date">06-06-2018</time>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="posts__item posts__item--desc-left posts__item--category-3">
                                    <a href="" class="posts__link-wrapper">
                                        <figure class="posts__thumb">
                                            <img src="/thaikimsa/assets/images/blog-03.jpg" alt="">
                                        </figure>
                                        <div class="posts__inner">
                                            <div class="posts__cat">
                                                <span class="label posts__cat-label">Xem Tử Vi</span>
                                            </div>
                                            <h3 class="posts__title blog-title">Dự Đoán Ngày Mới 06-06-2018 Cho 12 Con Giáp</h3>
                                            <div class="post-author">
                                                <div class="post-author__info">
                                                    <time datetime="06-06-2018" class="posts__date blog-date">06-06-2018</time>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider / End -->
            </div>
        </div>
        <!-- Featured News / End -->                
    </div>
</div>