<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1 class="page-heading__title">Dự Đoán Ngày Mới 06-06-2018 Cho 12 Con Giáp</h1>
                <ol class="page-heading__breadcrumb breadcrumb">
                    <li class="breadcrumb-item">
                        <%= link_to 'Trang Chủ', erp_thaikimsa.root_path, title: '' %>
                    </li>
                    <li class="breadcrumb-item">
                        <%= link_to 'Tử Vi', erp_thaikimsa.article_listing_path, title: '' %>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Dự Đoán Ngày Mới....</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Page Heading / End -->
<!-- Content
		================================================== -->
<div class="site-content">
    <div class="container">
        <div class="row">
            <!-- Content -->
            <div class="content col-md-12">
                <!-- Article -->
                <article class="card card--block post post--single posts__item--category-3 article-detail">
                    <figure class="post__thumbnail">
                        <img src="/thaikimsa/assets/images/detail-banner.png" alt="">
                    </figure>
                    <!-- Post Meta - Side / End -->
                    <div class="card__content">
                        <h2>TỰ DO, TỰ TẠI THEO DÒNG CHẢY CỦA NHÂN DUYÊN NGHIỆP QUẢ</h2>
                        <div class="post__content text-justify">                            
                            <p>Nhu yếu của con người là mong sao cho đời sống của mình luôn luôn được thảnh thơi, an vui và hạnh phúc. Để đạt được mục đích đó, con người cần phải cố gắng, nỗ lực suy tính và vạch ra nhiều phương cách nhằm đáp ứng thỏa mãn các nhu cầu của cuộc sống.</p>                            
                            <p>Tuy nhiên, thực tế cho thấy ít ai có thể thực hiện được điều này, vì mỗi khi trong tâm ta vẫn còn hiện hữu sự tham vọng cầu toàn và cố tránh né những gì bất như ý xảy ra, thì đỉnh cao của thảnh thơi và hạnh phúc sẽ vắng mặt, ẩn tàng.</p>
                            <p>Bởi lẽ, khi chúng ta hiện hữu trên cõi đời này thì đương nhiên phải có nhiều mối quan hệ qua lại, nào là cha mẹ, vợ chồng, con cái, anh em, bạn bè, công việc, v.v… không một ai có thể tồn tại riêng lẻ, biệt lập. Và khi mối tương quan này hình thành thì dĩ nhiên con người sẽ bị ràng buộc trong sự thương ghét, lựa chọn và chiếm hữu. Cha mẹ luôn bênh vực cho con cái, anh sẽ bênh vực cho em, vợ phải bênh vực cho chồng… vì người này là thân thuộc của tôi, còn người kia là kẻ xa lạ, cho nên, dù biết người thân của mình sai phạm nhưng vẫn dùng lời lẽ và uy quyền để dành được phần hơn. Nhưng, nếu chẳng may sự tranh giành ấy bạn bị thất bại thì sao? Thì chắc chắn rằng bạn sẽ bị sợi dây phiền não trói buộc, giam giữ và mất hết quyền tự chủ.
                            Do vậy, để được tự tại, thảnh thơi trong mối liên hệ chằng chịt đó là vấn đề không phải ai ai cũng có thể thực hiện được, đòi hỏi chúng ta phải thường trực quán niệm, soi chiếu thân tâm mình và hoàn cảnh đương tại, mới có thể thoát ra khỏi mọi xiềng xích giam giữ của bản ngã tham sân si.                            
                            Thực ra, để có một lối sống thảnh thơi, an lạc không nhất thiết ta phải đạt được một mục đích nào đó, lại càng không thể tránh xa những con người “khó ưa” để được yên ổn mọi bề, mà là giáp mặt với thực tại để thấy ra thói quen chống cự, ưa thích của cái ta tham vọng cầu toàn. Vì, chính thái độ chọn lựa, cầu toàn là đầu mối làm hoang phí sinh lực và đánh mất khả năng giác ngộ, giải thoát. Nếu bạn có ý niệm truy tìm sự thảnh thơi thì vô tình chính ý niệm ấy lại là thủ phạm tạo ra sự xao động, rối ren và bất an, chẳng khác gì có một người đi ra ngoài phố chợ rồi la lớn rằng, “tất cả mọi người hãy im lặng, tất cả mọi người hãy im lặng”! Hành động khờ khạo ấy không khiến cho những người ở phố chợ lặng im mà trái lại còn tạo thêm sự ồn ào và hao phí sinh lực.
                            </p>
                        </div>
                        <footer class="post__footer">
                            <div class="post__tags">
                                <a href="" class="btn btn-default btn-outline btn-xs">tử vi 2018</a>
                                <a href="" class="btn btn-default btn-outline btn-xs">phong thủy</a>
                                <a href="" class="btn btn-default btn-outline btn-xs">xem phong thủy</a>
                                <a href="" class="btn btn-default btn-outline btn-xs">kiến thức phong thủy</a>
                                <a href="" class="btn btn-default btn-outline btn-xs">tử vi 2018</a>
                                <a href="" class="btn btn-default btn-outline btn-xs">phong thủy</a>
                                <a href="" class="btn btn-default btn-outline btn-xs">xem phong thủy</a>
                                <a href="" class="btn btn-default btn-outline btn-xs">kiến thức phong thủy</a>
                            </div>
                        </footer>
                    </div>
                </article>
                <!-- Article / End -->
                <!-- Related Posts -->
                <div class="post-related">
                    <div class="card">
                        <div class="card__header">
                            <h4>Bài Viết Liên Quan</h4>
                        </div>
                    </div>
                    <div class="row posts--cards">
                        <% (0..3).each do |related_article| %>
                            <div class="col-md-3">
                                <!-- Prev Post -->
                                <div class="posts__item posts__item--card posts__item--category-2 card related-listing">
                                    <figure class="posts__thumb">
                                        <div class="posts__cat">
                                            <span class="label posts__cat-label">
                                                Tử Vi
                                            </span>
                                        </div>
                                        <%= link_to image_tag('/thaikimsa/assets/images/blog-large.jpg', alt: '', title: ''), erp_thaikimsa.article_detail_path, title: '' %>
                                    </figure>
                                    <div class="posts__inner card__content">
                                        <h6 class="posts__title">
                                            <%= link_to 'Dự đoán ngày mới 06-06-2018 cho 12 con giáp', erp_thaikimsa.article_detail_path, title: '' %>
                                        </h6>
                                    </div>
                                    <footer class="posts__footer card__footer">
                                        <div class="post-author">
                                            <figure class="post-author__avatar">
                                                <img src="/thaikimsa/assets/images/favicons/favicon.png" alt="">
                                            </figure>
                                            <div class="post-author__info">
                                                <h4 class="post-author__name">Thái Kim Sa</h4>
                                            </div>                                    
                                        </div>
                                        <ul class="post__meta meta">
                                            <li class="meta__item meta__item--views">06-06-2018</li>
                                        </ul>
                                    </footer>
                                </div>
                                <!-- Prev Post / End -->
                            </div>
                        <% end %>
                    </div>
                </div>
                <!-- Related Posts / End -->
            </div>
            <!-- Content / End -->            
        </div>
    </div>
</div>